module Config.Main where

import Aliter.Config

import Database.HDBC
import Database.HDBC.MySQL


-- Set database info
connect = connectMySQL (defaultMySQLConnectInfo { mysqlHost = "localhost"
                                                , mysqlUser = ""
                                                , mysqlPassword = ""
                                                , mysqlDatabase = ""
                                                , mysqlUnixSocket = "/tmp/mysql.sock"
                                                })

login :: ServerConf
login = ServerConf { serverHost = "" -- Public IP here
                   , serverPort = 6900
                   }

char :: [(String, (ServerConf, [(String, Int)]))]
char = [ ( "Aliter" -- Character server name
         , ( ServerConf { serverHost = "" -- Public IP here
                        , serverPort = 6121
                        }
           , [ ("maintenance", 0) -- Server options
             , ("new", 0)
             ]
           )
         )
       ]

zone :: ServerConf
zone = ServerConf { serverHost = "" -- Public IP here
                  , serverPort = 5121
                  }


