module Config.Main where

import Aliter.Config

import Database.HDBC
import Database.HDBC.MySQL


-- Database info
connect = connectMySQL (defaultMySQLConnectInfo { mysqlHost = "localhost"
                                                , mysqlUser = ""
                                                , mysqlPassword = ""
                                                , mysqlDatabase = ""
                                                , mysqlUnixSocket = "/tmp/mysql.sock"
                                                })

-- Login server connection info
login :: ServerConf
login = ServerConf { serverHost = "" -- Public IP here
                   , serverPort = 6900
                   }

-- Character servers
char :: [(String, (ServerConf, [(String, Int)]))]
char = [ ( "Aliter" -- Character server name
         , ( ServerConf { serverHost = "" -- Public IP here
                        , serverPort = 6121
                        }
           , [ ("maintenance", 0) -- Server options
             , ("new", 0)
             ]
           )
         )
       ]

-- Zone server connection info
zone :: ServerConf
zone = ServerConf { serverHost = "" -- Public IP here
                  , serverPort = 5121
                  }

-- List of maps to load
maps :: [String]
maps = [ "prontera"
       , "izlude"
       , "new_zone01"
       ]

-- Path to your sdata.grf, for map cache loading
sdata = "/path/to/sdata.grf"
